@import "./styles/base.scss";

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
}

#app {
  &[data-theme="light"] {
    --bg: #f4f4f4;
    --fontColor: rgb(19, 17, 17);
  }

  &[data-theme="dark"] {
    --bg: #383737;
    --fontColor: rgb(243, 235, 235);
  }
}

a {
  color: blue;
}

h1 {
  margin: 0;
  background-color: var(--bg);
  color: var(--fontColor);
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 10vmin;
  width: 10vmin;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  --duration: 1s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
  animation: move-right var(--duration) calc(var(--interval) * var(--i)) both;
}

@keyframes move-right {
  from {
    transform: none;
  }
  to {
    transform: translateX(25vw);
  }
}

.button {
  background-color: blue;
  color: #f4f4f4;
  padding: 1rem;
  border: none;
  transition: all 0.3s;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    transition-duration: 0.1s;
    transform: translateY(20%);
  }
}
